.backButton {
    background-color: var(--primary-color); /* Modern button color */
    color: white;
    border: none;
    border-radius: 50%; /* Rounded corners */
    padding: 0.4em 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center icon and text */
    font-size: 1em; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.backButton:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Darker shade on hover */
}
