.button1 {
    background-color: var(--secondary-color); /* Secondary color */
    color: white;
    border: none;
    border-radius: 0.25em; /* Changed from px to em */
    padding: 0.625em 1.25em; /* Changed from px to em */
    cursor: pointer;
    font-size: 1em; /* Changed from px to em */
    transition: background-color 0.3s;
}

.button1:hover {
    background-color: var(--secondary-color-light); /* Use the brighter shade on hover */
}
