.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 3em;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  max-width: 600px;
  width: 30%;
  max-height: 80%;
  overflow: auto;
}

.popup h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.popup p {
  font-size: 18px;
  color: #666;
}

.fileInputRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 1em;
}

.uploadPopupButton {
  background: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.01rem;
  padding: 7px 18px 7px 14px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.18s;
  min-width: 120px;
}

.uploadPopupButton:hover {
  background: #6230ed;
}

.selectedFileName {
  color: #333;
  font-size: 1.01rem;
  text-align: left;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cancelButton {
  background: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.01rem;
  padding: 7px 18px 7px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.18s;
  min-width: 120px;
  text-align: center;
}

.cancelButton:hover {
  background: #6230ed;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.closeButton:hover {
  color: #7c3aed;
}
