.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4f86f7, #853bbd);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.main {
  flex: 1;
  padding: 2rem;
}