/* Global styles will go here */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 16px;
}

.no-transition {
  transition: none !important;
}

:root {
  --primary-color: #012230;
  --secondary-color: #e8530e;
  --secondary-color-rgb: 232, 83, 14; /* Agregar esta línea */
  --secondary-color-light: #ff9a3e;
}

/* Estilo global para los iconos de FontAwesome */
.fa,
.fas,
.far,
.fal,
.fab,
svg[data-icon] {
  width: 1rem;
  min-width: 1rem;
  max-width: 1rem;
  height: 1rem;
  font-size: 1rem;
  vertical-align: middle;
  box-sizing: content-box;
}
