.documentEditor {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 100vh; /* Set maximum height */
    overflow-y: auto; /* Allow vertical scrolling */
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.tabs button.active {
    background: rgba(1, 34, 48, .1);
    border-bottom: 2px solid var(--primary-color);
}

.tabs button:hover {
    color: var(--primary-color);
}

.form {
    width: 50%;
}

.instructionsContainer {
    margin-bottom: 1em;
}

.instructionsTextarea {
    width: 100%;
    height: 100px;
}

.generateActivityButton {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.generateActivityButton:hover {
    background-color: var(--secondary-color-light);
    color: white;
}

.summaryContainer {
    background-color: #f0f0f0; /* Light gray background */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #777;
}

.summaryContainer h3 {
    margin-top: 0;
    color: #333;
}

.summaryContainer ul {
    list-style-type: square; /* Customize list style type */
    padding-left: 2em;
}

.summaryContainer li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.summaryContainer li:last-child {
    border-bottom: none;
}

.documentViewer {
    background-color: #f9f9f9; /* Light background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap; /* Respect line breaks */
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    outline: none;
    padding: 10px;
    overflow: auto;
}

.documentViewer:focus {
    border-color: var(--primary-color);
}

.previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.downloadLink {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloadLink:hover {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.8;
}

.editButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.8;
}

.activityDetails {
    background-color: #f0f0f0; /* Light background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.activityDetails p {
    margin: 0;
    padding: 5px 0;
}

.switchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.switchContainer label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
}

.closeButton:hover {
    color: #ff0000;
}